<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BED5D7871CCB5C2D009509B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED5D7A31CCB5C2E009509B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED5D7AE1CCB5C2E009509B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
